body{
    background-color: black;

}
.main{
    display:  flex;
    align-items: center;
    flex-direction: column;

    
}
.output{
   

    border: solid green 2px;
     padding: 0.5em;
    width: 20%;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px green;
}
.output form input{
    height: 50px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}
.num_sec{
   border: solid green 2px;
   width: 17%;
   padding: 20px;
   border-radius: 30px;
   box-shadow:  10px 5px 5px green;
}
.num_sec form input{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 30px;
    padding: 0.1em;
    
    
}
.num_sec form :hover{
    cursor: pointer;
    box-shadow:  10px 5px 5px green;
}